*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    justify-items: center;

}
.input btn{
    display: flex;
    align-items: center;
}
.input input{
    padding-left: 0.5rem;
    background-color: #EFEFEF4D;
    margin-left: 0.2rem;
    width: 95vw;
    height: 30px;
    border-radius: 5px;
    border: 0.001px solid rgb(213, 206, 206);
    align-items: center;
}
.input button{
    margin-left: 0.2rem;
}

#img{
    align-items: center;
}
.length_character_plus_user_input{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 0.5rem;
}
.length_character_plus_user_input input{
    width: 180px;
    height: 1.5rem;
    padding-left: 0.5rem;
}
.checkbox_plus_generate_btn{
    padding: 0.5rem 0.7rem;
}
.checkbox_plus_generate_btn label{
    padding-left: 0.3rem;
    font-family: 'Times New Roman', Times, serif;
}
.backColor-blue{
    background-color: #116BB4;
    color: white;
    border: none;
    border-radius: 5px;
    width: 97vw;
    margin-block: 0.2rem;
    padding-left: 0.1rem;
    padding-block: 1rem;
    margin-top: 2rem;
}
.backColor-blue:hover{
    background-color: green;
}
